{% extends "layout.html" %}

{% block body %}

<section id="contact" class="contact section py-5">

    <!-- Google Maps -->
    <div class="mb-5">
      <iframe class="w-100" style="height: 400px;"
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d127645.75707170258!2d36.922982399999995!3d-1.2091391999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ske!4v1734078469551!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
              frameborder="0" allowfullscreen=""></iframe>
    </div>
    <!-- End Google Maps -->

    <div class="container" data-aos="fade">
      <div class="row gy-4 gx-5">

        <!-- Contact Information -->
        <div class="col-lg-4 shadow">
          <div class="info">
            <h3>Get in touch</h3>
            <p>Have questions or need assistance? We're here to help! Reach out to us, and we'll get back to you promptly.
              Whether it’s inquiries, feedback, or support, we look forward to connecting with you
            </p>

            <div class="d-flex align-items-start mb-3">
              <i class="bi bi-geo-alt fs-4 me-3"></i>
              <div>
                <h4>Location:</h4>
                <p>Pearl Place Hotel 2<sup>nd</sup> Floor </p>
              </div>
            </div>

            <div class="d-flex align-items-start mb-3">
              <i class="bi bi-envelope fs-4 me-3"></i>
              <div>
                <h4>Email:</h4>
                <p><a href="mailto:harvesterscommunications@gmail.com">harvesterscommunications@gmail.com</a></p>
              </div>
            </div>

            <div class="d-flex align-items-start">
              <i class="bi bi-phone fs-4 me-3"></i>
              <div>
                <h4>Call:</h4>
                <p><a href="tel:+254711919639">+254 711 919639</a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Contact Information -->

        <!-- Contact Form -->

        <div class="col-lg-8">
           {% if messages %}
               <div class="row">
                  <div class="col-lg-8 mx-auto">
                     {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                   {% endfor %}
                  </div>
               </div>
            {% endif %}

          <form method="POST" action="/contactform/">
            {% csrf_token %}

            <div class="row">
              <div class="col-md-6 mb-3">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 mb-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="mb-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Send Message</button>
            </div>
          </form>
        </div>
        <!-- End Contact Form -->

      </div>
    </div>

  </section>


{% endblock %}
